* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: antiquewhite;
  }
  .container{
    padding:20px;
    overflow: hidden;
    background-color: darkseagreen;
  }
  .container h1{
    float:left;
    margin-left:10%;
    color:white;
  }
  .container ul{
   list-style-type: none; 
   font-size:20px;
   margin-left: 60px;
  }
  .container li{
    margin-top:10px;
    float:left;
    padding: 0 20px 0 20px;
  }
  .contatiner a{
    text-decoration: none;
    color:wheat;
  }
  .current a::after{
    content: ' ';
    background-color:whitesmoke ;
    display: block;
  }
  .equation{
    font-size: 67px;
    background-color: burlywood;
    border-radius: 5px;
    text-align: center;
    padding-top: 15%;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}
.equation h1{
    display:inline;
    padding:20px;
}
.answer-options{
font-size: 67px;
margin-right: 10px;
}
.answer-options h1{
    cursor: pointer;
    color:azure;
    border-radius: 5px;
    margin-top: 10px;
    text-align:center;
    width:100px;
}
#option1{
    background-color:aliceblue;
    transition:1s;
}
#option1:hover{
    color:aliceblue;
    background-color: azure;
}
#option2{background-color:aliceblue;
transition:1s;
}
#option2:hover{
color:aliceblue;
background-color: azure;
}   
#option3{ background-color:aliceblue;
transition:1s;
}
#option3:hover{
color:aliceblue;
background-color: azure;
}